{% extends 'media.html.twig' %}

{% block media_poster %}
    <img src="https://image.tmdb.org/t/p/w92/8qc2cOqGiha24c43Qda5r85xGvd.jpg" alt="">
{% endblock %}

{% block media_text %}
    <h1>13 Reasons Why
        <span class="date">2017</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action">
        <i class="material-icons">bookmark_border</i> Suivre
    </div>
    <div class="action">
        <i class="material-icons">done_all</i>Marquer comme vu
    </div>
    <div class="action">
        <i class="material-icons">list</i>A voir
    </div>
{% endblock %}

{% block content %}

    <section>
        <ul class="tabs">
            <li class="tab col s3">
                <a class="active" href="#synopsis">Synopsis</a>
            </li>
            <li class="tab col s3">
                <a href="#seasons">Saisons</a>
            </li>
            <li class="tab col s3">
                <a href="#planning">Planning</a>
            </li>
        </ul>
        <div class="container">
            <div id="synopsis" class="col s12">
                Clay Jensen, un adolescent qui découvre sous son porche au retour du lycée une mystérieuse boîte portant
                son nom. À l'intérieur,
                des cassettes enregistrées par Hannah Baker, une camarade de classe qui s'est tragiquement suicidée deux
                semaines auparavant. Les enregistrements révèlent que la jeune fille, dont il était amoureux, a décidé
                de
                mettre fin à ses jours pour treize raisons. Clay est-il l'une de ces raisons ?
            </div>
            <div id="seasons" class="col s12">
                <div class="season card horizontal">
                    <div class="card-image">
                        <img src="https://image.tmdb.org/t/p/w94_and_h141_bestv2/90FhPvnGLz6itq3KdtRraro9umE.jpg"
                             alt="">
                    </div>

                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="tv-season.html">Saison 1</a>
                            </h1>
                            <h2>
                                2017 | 13 épisodes
                            </h2>
                            <h2>
                                0 épisodes à voir
                            </h2>
                        </div>
                        <div class="card-action button">
                            <i class="material-icons">done_all</i>Marquer comme vu
                        </div>
                    </div>

                </div>
                <div class="season card horizontal">
                    <div class="card-image">
                        <img src="https://image.tmdb.org/t/p/w94_and_h141_bestv2/90FhPvnGLz6itq3KdtRraro9umE.jpg"
                             alt="">
                    </div>

                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="tv-season.html">Saison 2</a>
                            </h1>
                            <h2>
                                2018 | 13 épisodes
                            </h2>
                            <h2>
                                13 épisodes à voir
                            </h2>
                        </div>
                        <div class="card-action button">
                            <i class="material-icons">done_all</i>Marquer comme vu
                        </div>
                    </div>

                </div>
            </div>
            <div id="planning" class="planning">
                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>

                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>

                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="tv-episode.html">S02x01 Episode 1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
