{% extends 'base.html.twig' %}
{% block nav_bar %}
    {% include 'nav-bar.html.twig' %}
{% endblock %}

{% block body %}
    <section class="media-header">
        <div class="content">
            {% block media_poster %}

            {% endblock %}

            <div class="text-content">
                {% block  media_text %}

                {% endblock %}
            </div>
        </div>

        <div class="action-bar">
            {% block media_actions %}

            {% endblock %}
        </div>
    </section>

    {% block content %}{% endblock %}
{% endblock %}