<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="{{ path('watchlist_index') }}">A voir</a>
    </li>
    <li>
        <a href="{{ path('followlist_show') }}">Suivi</a>
    </li>
    <li>
        <a href="{{ path('history_index') }}">Historique</a>
    </li>
    <li>
        <a href="dashboard.html">Accueil</a>
    </li>
</ul>